@charset "UTE-8";
.text{
    position: fixed;
    left: 20px; top: 20px;
    color: #ddd;
    z-index: 1000;
}

.fixed_bg{
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
}
.slide{
    position: fixed;
    left: 0px; top: 0;
    width: 100%; height: 100%;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.slide-content{width: 60%; margin: 0 auto;}

.slide1{position: relative;}

.slide1 .spiderman img{
    position: absolute;
    width: 50%;
    top: 220px;
    left: 380px;
}

.slide1 .spider img{
    position: absolute;
    top: -5px;
    left: 10px;
    width: 30%;
}
.slide1 .spider1 img{
    top: 360px;
    position: absolute;
    width: 30%;
    left: 70%;
}
.slide2{
    background: url(img/fff.jpg) no-repeat;
    background-size: cover;
}
.slide3{
    background: url(img/dff.jpg) no-repeat;
    background-size: cover;
}

.slide4{
    background: url(img/빌딩2.jpg);
    background-size: cover;
}

.slide4 .slide-content h2{
    top: 100px;
    left: 60%;
    position: absolute;
    font-size: 90px;
    color: #000;
    transition: 0.3s;
}
.slide4 .slide-content h2:hover{
    color: red;
}

.slide5 img{
    position: absolute;
    top: 0px;
    left: 155px;
}