@charset "UTE-8";
*{margin: 0; padding: 0; box-sizing: border-box;}

.front{
    position: fixed;
    top: 0; left: 0; width: 100%;
    height: 100vh; z-index: 200;
    pointer-events: none;
}
.front .side{
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: url(bg.jpg);
    background-size: cover;
}

.front .side#side1{
    clip-path: polygon(48% 1%, 47% 7%, 53% 6%, 51% 10%, 57% 7%, 51% 16%, 58% 14%, 53% 23%, 64% 21%, 56% 35%, 70% 29%, 61% 43%, 67% 40%, 66% 46%, 73% 42%, 62% 53%, 77% 49%, 66% 59%, 75% 59%, 67% 68%, 74% 68%, 69% 73%, 78% 77%, 65% 79%, 72% 83%, 68% 88%, 76% 89%, 66% 91%, 71% 94%, 0% 100%, 0% 0%);
}
.front .side#side2{
    clip-path: polygon(48% 1%, 47% 7%, 53% 6%, 51% 10%, 57% 7%, 51% 16%, 58% 14%, 53% 23%, 64% 21%, 56% 35%, 70% 29%, 61% 43%, 67% 40%, 66% 46%, 73% 42%, 62% 53%, 77% 49%, 66% 59%, 75% 59%, 67% 68%, 74% 68%, 69% 73%, 78% 77%, 65% 79%, 72% 83%, 68% 88%, 76% 89%, 66% 91%, 71% 94%, 100% 100%, 100% 0);
}
.front .side#side2:hover{}

.contentBox{
    background: #000; 
    color: #fff;
    padding: 100px;
    padding-top: 150vh;
}
.contentBox h2{font-size: 50px;}
.contentBox p{
    font-size: 20px;
    line-height: 2.5;
}